#include <windows.h>
#include "resources.h"

IDI_ICON ICON "icon.ico"

IDR_MAINMENU MENU
BEGIN
	POPUP "&Game"
	BEGIN
		MENUITEM "&PvsAi",ID_PVSAI
	END
	POPUP "&Deck"
	BEGIN
		MENUITEM "Create/Edit &Deck",ID_CREATE_EDITDECK
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About",ID_ABOUT
	END
END

IDD_CREATE_EDITDECK DIALOG DISCARDABLE 0,0,395,150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create/Edit Deck"
FONT 8, "MS Sans Serif"
BEGIN
	PUSHBUTTON "Add"        ,IDC_ADD  ,90,30,50,15
	PUSHBUTTON "Remove"     ,IDC_REM  ,240,30,50,15
	PUSHBUTTON "Create/Load",IDC_CL   ,220,50,50,15
	PUSHBUTTON "Save Deck"  ,IDC_SAVE ,160,70,50,15
	PUSHBUTTON "Delete Deck",IDC_DEL  ,160,90,50,15
	LISTBOX    IDC_CARDS,10,30,70,100,WS_VSCROLL
	LISTBOX    IDC_DECK ,300,30,70,100,WS_VSCROLL
	EDITTEXT IDC_DECKNAME,160,50,50,15,ES_AUTOHSCROLL
	LTEXT "Cards loaded from db:"   ,IDC_STATIC,10,10,70,10
	LTEXT "Cards in deck:"          ,IDC_STATIC,300,10,50,10
	LTEXT "Name of deck:"           ,IDC_STATIC,110,53,50,15
	LTEXT "Number of cards in deck:",IDC_STATIC,90,110,84,10
	CTEXT "-",IDC_NUM,173,110,20,5
END 

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
	PUSHBUTTON "&OK",IDOK,174,18,50,14
	GROUPBOX   "About",IDC_STATIC,7,7,225,52
	CTEXT	   "This is a simple card game.",IDC_STATIC,16,18,144,33
END